<div *ngIf="this.tokenService.getToken() && (this.isAuthorized$ | async)">
  <p-menubar>
    <ng-template pTemplate="start">
      <div>MAP OVERVIEW</div>
    </ng-template>
    <ng-template pTemplate="end">
      <i class="pi pi-bars" (click)="toggleSidebar()"></i>
    </ng-template>
  </p-menubar>
  
  <p-sidebar [(visible)]="sidebarVisible" position="left" styleClass="sidebar">
    <div class="col">
      <p-tabView>
        <p-tabPanel header="VEHICLES">
          <app-vehicles></app-vehicles>
        </p-tabPanel>
        <p-tabPanel header="LOCATIONS">
          <app-locations></app-locations>
        </p-tabPanel>
        <p-tabPanel header="TRACK">
          <app-history></app-history>
        </p-tabPanel>
      </p-tabView>
    </div>
  </p-sidebar>
  
  <app-map id="arcgisMapViewContainer"></app-map>
</div>