.fit-menu-bar {
  display: inline-flex;
  width: auto;
}

#arcgisMapViewContainer {
  position: absolute;
  height: 100vh; /* Adjust as needed */
  width: 100vw; /* Adjust as needed */
  overflow: hidden;
}

.left-container {
  height: 100%; 
  width: 100%;
}

.sidebar {
  width: 25%;
}